# Node.js (Server)
server/node_modules/
server/.env
server/package-lock.json
server/src/config.js
# (Client)
/client/

# Logs
**/*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/
